    @import url(https://fonts.googleapis.com/css?family=Raleway);
    ul a {
        text-decoration: none;
        color: #00873E;
    }
    
    ul a:hover,
    ul a:focus {
        color: #D63F31;
    }
    
    .flex-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #FBC112;
    }
    
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        padding: 1em;
        font-weight: 600;
        font-size: 1.5rem;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .menu>li {
        margin: 0 1rem;
        overflow: hidden;
    }
    
    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #menu-toggle {
        display: none;
    }
    
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #D63F31;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 300ms cubic-bezier(0.32, 0.1, 0.1, 0.32);
        border-radius: 2px;
    }
    
    .menu-button::before {
        content: '';
        margin-top: -8px;
    }
    
    .menu-button::after {
        content: '';
        margin-top: 8px;
    }
    
    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(45deg);
    }
    
    #menu-toggle:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }
    
    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-45deg);
    }
    
    @media (max-width: 820px) {
        .flex-menu {
            align-items: flex-end;
        }
        .menu-button-container {
            display: flex;
        }
        .menu {
            position: absolute;
            top: 0;
            margin-top: 150px;
            left: 0;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
        #menu-toggle~.menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.2, 0.5, 0.2, 0.5);
        }
        #menu-toggle:checked~.menu li {
            height: 2.5em;
            padding: 0.8em;
            transition: height 400ms cubic-bezier(0.2, 0.5, 0.2, 0.5);
        }
        .menu>li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: #00873E;
            background-color: rgba(251, 193, 18, 0.9);
            font-weight: 600;
        }
        .menu>li:not(:last-child) {
            border-bottom: 1px solid #444;
        }
    }
    /* ------------------- */
    
    body {
        margin: 0 auto;
        padding: 0;
        max-width: 1360px;
        height: 100%;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: 62.5%;
        font-family: "Raleway";
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    main {
        justify-content: center;
    }
    
    main h1 {
        color: #D63F31;
        font-size: 2.5rem;
        text-align: center;
    }
    
    main h2 {
        color: #00873E;
        font-size: 1.9rem;
        text-align: center;
    }
    
    #titulo {
        margin: 60px 0px;
    }
    
    h3 {
        color: #D63F31;
        font-size: 1.8rem;
        margin: 1.0rem;
    }
    
    p {
        font-size: 1.6rem;
        color: #000;
        text-align: justify;
        margin: 5px 0px;
    }
    
    @media(min-width:280px) and (max-width:768px) {
        p {
            margin: 5px 20px;
        }
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        max-width: 1200px;
        grid-gap: 20px;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    
    @media(min-width:280px) and (max-width:650px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    h4 {
        font-size: 1.6rem;
        padding: 10px;
        margin: 0;
    }
    
    .pix {
        margin-top: 100px;
        border-radius: 10px;
        background-color: #fbc11298;
        width: 280px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    
    h5 {
        font-size: 1.6rem;
        margin: 5px;
        font-weight: 500;
    }
    
    #qrcode {
        width: 150px;
        height: 150px;
        padding-bottom: 10px;
    }
    /* Forms */
    
    form h5 {
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: 25px;
        text-align: center;
        font-size: 2.0rem;
    }
    
    .formualrio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0px;
        align-items: center;
        width: 100%;
    }
    
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #D9D9D9;
        margin-bottom: -100px;
    }
    
    label {
        color: black;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0px auto;
        margin-top: 15px;
        margin-bottom: 3px;
        width: 80%;
        font-style: bold;
    }
    
    input {
        padding: 5px;
        border: 0;
        outline: 0;
        border-radius: 4px;
        font-family: "Raleway";
        width: 80%;
        margin: 0 auto;
        font-size: 1.2rem;
    }
    
    input:focus {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    textarea {
        border: 0;
        outline: 0;
        border-radius: 4px;
        font-family: "Raleway";
        padding: 5px 5px 40px 5px;
        width: 80%;
        margin: 0 auto;
    }
    
    textarea:focus {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    button {
        border: 0;
        padding: 10px 35px;
        border-radius: 4px;
        background-color: #00E378;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        margin: 20px auto;
    }
    
    button:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    /* _____________________ */
    
    .sub-footer {
        background-color: #d9d9d941;
        margin-top: 100px;
    }
    
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }
    
    .flex2 {
        display: flex;
        align-items: center;
    }
    /* @media(min-width:300px) and (max-width:768px) {
        .gridSubFooter {
            text-align: center;
        }
    } */
    
    .gridSubFooter h6 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }
    
    .gridSubFooter h6>span {
        font-size: 1.6rem;
        font-weight: 600;
    }
    
    .gridSubFooter {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        justify-content: space-between;
        max-width: 1200px;
        grid-gap: 20px;
        align-items: center;
        margin: 0 20px;
        padding: 15px;
    }
    
    @media(min-width:500px) and (max-width:820px) {
        .gridSubFooter {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media(min-width:280px) and (max-width:499px) {
        .gridSubFooter {
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }
        .flex2 {
            justify-content: center;
        }
    }
    
    footer {
        background-color: #D63F31;
    }
    
    footer h6 {
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
        padding: 20px;
        margin: 0;
        color: #fff;
    }
    
    h6 a {
        color: #fff;
    }